*, *::after, *::before{
box-sizing: border-box;
}
body{
    margin: 0;
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

}
.puntuacion{
    display: flex;
    gap: 20px;

}

.puntuacion div{
text-align: center;
bac

}
.cuadroCNT{ 
    
    
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    
}
.cuadro{
    height:100px;
    width:100px;
    background-color: black;
    

    
}

.centro{
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}
.hor{
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc; 
}

.popUp{
color: #ccc;
    position: fixed;
    top:0 ;left: 0;
    background:rgb(0,0,0,.9) ;
    height: 100%;
    width: 100%;
    z-index:100 ;
    /*visible OR NOT*/
    display: none;
}

.popUp span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
    z-index:100 ;
  }

  .popUp .insideBox{
color: black;
    position: absolute;
    background-color: aliceblue;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius:5px;
    width: 750px;
    object-fit: cover;
  }
  